
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MobilePhoneStore.Web.ViewModels;
@model ForgotPasswordViewModel
<div class="customer_login mt-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-7">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="account_form register">
                            <h2 class="text-center">Quên mật khẩu</h2>
                            <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                                <p>
                                    <label asp-for="Username"></label>
                                    <input type="text" asp-for="Username">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </p>
                                <div class="login_submit">
                                    <a asp-action="Login" asp-controller="Account" class="text-primary">Quay lại đăng nhập</a>
                                    <button type="submit">Tiếp tục</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

